<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adam.sprzedawca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SprzedawcaActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DodajKlientaActivity"
            android:label="@string/title_activity_dodaj_klienta" />
        <activity
            android:name=".Activity.DodajZamowienieActivity"
            android:label="@string/title_activity_dodaj_zamowienie" />
        <activity
            android:name=".Activity.DodajTowarActivity"
            android:label="@string/title_activity_dodaj_towar" />
        <activity android:name=".Activity.WybierzKlientaActivity" />
        <activity android:name=".Activity.WybierzTowarActivity" />
        <activity
            android:name=".Activity.EdytujKlientaActivity"
            android:label="@string/title_activity_edytuj_klienta"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EdytujTowarActivity"
            android:label="@string/title_activity_edytuj_towar"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
